* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Helvetica;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(245, 245, 245);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.pid-text {
	height: auto;
	width: 14.5%;
	margin: 12px auto;
}

.pid-container {
	display: inline-block;
}

body {
	margin-top: 25px;
	margin-bottom: 25px;
}

#debugging-container {
	display: none;
	position: fixed;
	left: 95px;
	bottom: 20px;
}

#debug-icon {
	position: fixed;
	left: 20px;
	bottom: 20px;
	cursor: pointer;
	width: 60px;
	text-align: center;
}

#debug-message-text-field {
	text-align: center;
	width: 225px;
	font-size: 15px;
}

#debug-send-button {
	display: inline-block;
	width: 80px;
	height: 40px;
	font-size: 16px;
	background-color: #a80000;
}

h1 {
	margin: 0 auto 15px;
}

h3 {
	margin: 8px;
}

h4 {
	margin: 15px auto;
}

#h3-status {
	margin: 10px 0 15px 0;
}

#ctrl-status-img {
	display: inline-block;
	margin: 12px auto 0 auto;
	height: 100px;
}

#ctrl-battery {
	margin: auto;
}

button {
	border: none;
	width: 120px;
	height: 50px;
	padding: 12px;
	margin: 10px 6px;
	cursor: pointer;
	border-radius: 10px;
	background-color: #868686;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.button-green {
	background-color: #00770c;
}

.button-red {
	background-color: #a80000;
	width: 156px;
}

.button-orange {
	background-color: #cc8b00;
}

#telemetry-button {
	background-color: rgb(8, 69, 182);
	display: block;
	margin: 12px auto;
}

#connection-status-text {
	display: inline-block;
	color: #cc8b00;
}

#connection-status-circle {
	display: inline-block;
	background: #cc8b00;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

#auto-settings {
	display: none;
}

#rc-settings {
	display: none;
}

.setter-value-field {
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	background-color: #6b6b6b;
	text-align: center;
	width: 12%;
	height: 35px;
	margin: 0 6px;
	min-width: 75px;
	max-width: 115px;
	border-style: solid;
	border-radius: 8px;
}

#set-button {
	display: block;
	margin: 0 auto;
	height: 45px;
	width: 115px;
	background-color: rgb(155, 0, 120);
	color: white;
}

#start-time-value {
	min-width: 75px;
	max-width: 115px;
	margin: 0 auto 12px auto;
}

#status-container {
	display: flex;
	width: 50%;
	max-width: 460px;
	min-width: 320px;
	margin: 15px auto;
	justify-content: space-around;
}

.status-indicator {
	display: inline-block;
	margin: auto;
}

.status-circle {
	background: #868686;
	margin: auto;
	width: 3vw;
	height: 3vw;
	max-width: 22px;
	max-height: 22px;
	min-width: 18px;
	min-height: 18px;
	border-radius: 50%;
}

.status-text {
	font-size: medium;
	margin: 0 0 12px 0;
}
