html {
	font-family: Helvetica;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

body {
	margin-top: 50px;
}

h1 {
	color: #444444;
	margin: 50px auto 30px;
}

#connection-container {
	margin-bottom: 35px;
}

#connection-info {
	display: inline-block;
	margin: 0px;
}

button {
	display: block;
	border: none;
	width: 45%;
	height: 50px;
	padding: 12px;
	margin: 8px auto;
	cursor: pointer;
	border-radius: 8px;
	background-color: #868686;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

#start-request {
	display: inline-block;
	max-width: 250px;
	padding: 12px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #00770c;
}

#configs {
	display: inline-block;
	max-width: 250px;
	padding: 12px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #b1a117;
}

#terminate-request {
	width: 85%;
	min-width: 250px;
	max-width: 1000px;
	height: 100px;
	background-color: #bd0101;
    margin-bottom: 42px;
}

#connection-status-text {
	display: inline-block;
	margin: 0px;
	color: midnightblue;
}

#connection-status-circle {
	display: inline-block;
	background: #e4c200;
	vertical-align: baseline;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.status-text{
	font-size: medium;
	width: 96px;
}

#strategys-indicator-container{
	display: flex;
	margin: auto;
	width: 50%;
	max-width: 720px;
	min-width: 400px;
	justify-content: space-between;
}

.status-circle{
	background: #868686;
	margin: auto;
	width: 3vw;
	height: 3vw;
	max-width: 30px;
	max-height: 30px;
	min-width: 18px;
	min-height: 18px;
	border-radius: 50%;
}

#robot-body {
	position: relative;
	margin: 75px auto;
	background: rgb(125, 125, 125);
	border-radius: 12px;
	width: 36vw;
	height: 34vw;
	max-width: 300px;
	max-height: 300px;
	min-width: 200px;
	min-height: 200px;
	box-shadow: inset 6px 1px 12px rgb(128, 128, 128),
		6px 2px 1em rgb(112, 112, 112);
}

.op-sensor {
	display: none;
	position: absolute;
	border-radius: 4px;
	width: 5vw;
	max-width: 42px;
	min-width: 28px;
	height: 16px;
}

#left-side-op {
	top: 32%;
	left: 0;
	transform: rotate(90deg);
	background: black;
}

#far-left-op {
	top: 14%;
	left: 5%;
	transform: rotate(-25deg);
	background: black;
}

#left-op {
	top: 6.8%;
	left: 23%;
	transform: rotate(-15deg);
	background: black;
}

#center-op {
	top: 4%;
	left: 43%;
	background: black;
}

#right-op {
	top: 6.8%;
	right: 23%;
	transform: rotate(15deg);
	background: black;
}

#far-right-op {
	top: 14%;
	right: 5%;
	transform: rotate(25deg);
	background: black;
}

#right-side-op {
	top: 32%;
	right: 0;
	transform: rotate(90deg);
	background: black;
}

.edge-sensor {
	display: none;
	position: absolute;
	border-radius: 15px;
	width: 2.5vw;
	height: 2.5vw;
	max-width: 20px;
	max-height: 20px;
	min-width: 13px;
	min-height: 13px;
}

#front-left-edge {
	background: white;
	top: 5%;
	left: 5%;
}

#front-right-edge {
	background: white;
	top: 5%;
	right: 5%;
}

#rear-left-edge {
	background: white;
	bottom: 5%;
	left: 5%;
}

#rear-right-edge {
	background: white;
	bottom: 5%;
	right: 5%;
}

.motor {
	position: absolute;
	background: rgb(0, 50, 100);
	border-radius: 5px;
	width: 5.5vw;
	height: 10vw;
	max-width: 47px;
	max-height: 82px;
	min-width: 30px;
	min-height: 56px;
	box-shadow: inset 0 0 4px rgb(27, 27, 27);
}

#right-motor {
	top: 55%;
	right: 4%;
}

#left-motor {
	top: 55%;
	left: 4%;
}

#right-motor-power {
	position: absolute;
	font-size: xx-large;
	top: 47.5%;
	right: -30%;
}

#left-motor-power {
	position: absolute;
	font-size: xx-large;
	top: 47.5%;
	left: -30%;
}
