html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

body {
    margin-top: 50px;
}

h1 {
    color: #444444;
    margin: 50px auto 30px;
}

#robot-body {
    margin: 15em auto;
    background: rgb(75, 75, 75);
    border-radius: 12px;
    width: 15em;
    height: 15em;
}

#far-left-op-sensor {
    display: inline-block;
    position: relative;
    top: 25px;
    left: -30px;
    transform: rotate(-25deg);
    background: black;
    border-radius: 15px;
    width: 30px;
    height: 12px;
}

#left-op-sensor {
    display: inline-block;
    position: relative;
    top: 13px;
    left: -15px;
    transform: rotate(-15deg);
    background: black;
    border-radius: 15px;
    width: 30px;
    height: 12px;
}

#center-op-sensor {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 0;
    background: black;
    border-radius: 15px;
    width: 30px;
    height: 12px;
}

#right-op-sensor {
    display: inline-block;
    position: relative;
    top: 13px;
    left: 15px;
    transform: rotate(15deg);
    background: black;
    border-radius: 15px;
    width: 30px;
    height: 12px;
}

#far-right-op-sensor {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 30px;
    transform: rotate(25deg);
    background: black;
    border-radius: 15px;
    width: 30px;
    height: 12px;
}